{% include "partials/head.html" %}

<body>
    {% include "partials/header.html" %}

    <div class="main-page">
        {% include "partials/search.html" %}
        <main class="main-content-container">
            <div class="main-content main-content-list container">
                <div class="workouts-list-item">
                    <div class="workout-cover">
                        <img src="https://placehold.co/600x400/000000/00FFFF/png" alt="temporario">
                    </div>
                </div>            
            </div>
        </main>
    </div>
</body>

</html>