{% include "partials/head.html" %}

<body>
    {% include "partials/header.html" %}

    <div class="main-page">
        {% include "partials/search.html" %}
        <main class="main-content-container">
            <div class="main-content main-content-list container">
                <div class="workouts-list-item">
                    <div class="workout-cover">
                        <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2015/10/17/cristiano-ronaldorecorde-de-golsreal-madrid.jpg" alt="temporario">
                    </div>
                </div>            
            </div>
        </main>
    </div>
</body>

</html>