* {
    font-family: 'Ubuntu';
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.head-bar {
    color: aliceblue;
    height: 50px;
    background-color: rgba(228, 15, 15, 0.954);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%;


}

.h1 {
   padding: 3px;
   letter-spacing: 2px; 
}

body {
    margin-top: 60px;
}