<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home_style.css/">
    <title> documento </title>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .main-page {
            background-color: aqua;
        }
    </style>

</head>

<body>
    <div class="main-page">
        <div class="top-header">
            <div class="left-image">aqui</div>
            <div class="right-image">aqui tbm</div>
        </div>

        <h2>lentes ceramicas</h2>
        <div class="text-field">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deserunt temporibus quod blanditiis nostrum maiores sed,
                dicta velit consequuntur quaerat. Accusantium incidunt
                facilis alias! Iusto quaerat corrupti, vitae error eaque at.
            </p>
        </div>
        <div class="button">
            <button>
                acesse nosso instagram
            </button>
        </div>

        <img src="" alt="">
    </div>
</body>


</html>